language: java
notifications:
  hipchat:
    rooms:
      secure: Ke9fMBOvj4NJeNw1+HBCNkMy+PdgQQoa8g+Rs5ldP9dIcPwSKFQFUha8v4N3NNVpDpJo1vStRfik5V974QkCHzWYvIJjDwh4LMNIJlSs+c9mMvVm3iYq/4ZY56hIxDyZe/wstao/FbLsl2BsSb0Tw3x2KgeuwZ+3CNZfqt5Pcuw=
deploy:
  provider: releases
  api_key:
    secure: ZVBw8EHIaJxaTG6pTMsskCE6OQuFk/YOyfat0lNDQWmMHB/RO8wS5YlmAZTgkEqWyKtR76Fs7ktPMe1ETVymUCZEHgjH0aqiidyqMpIsrKT+yyV1HrQTjjDCOmQN0759Bm7MwAehDCodiMPwbmabdxxIyAcdI5PtmfE11ZIjHsU=
  file: build/distributions/xld-powercenter-plugin-1.0.6.xldp
  on:
    all_branches: true
    tags: true
    repo: xebialabs-community/xld-powercenter-plugin
